body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    color: #cfd2da;
    text-align: left;
    background-color: #252830;
}

.material-icons.md-36 {
    font-size: 36px;
}

.vertical-align-sub {
    vertical-align: top;
}

.margin-top-15 {
    margin-top: 15px;
}

/*breadcrumb*/
.breadcrumb {
    background: rgba(68, 113, 143, 1);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 4px;
    display: block;
}

    .breadcrumb li {
        font-size: 14px;
    }

    .breadcrumb a {
        color: rgba(207, 207, 207, 1);
    }

        .breadcrumb a:hover {
            color: rgba(245, 245, 245, 1);
        }

    .breadcrumb > .active {
        color: rgba(255, 255, 255, 1);
    }

    .breadcrumb > li + li:before {
        color: rgba(255, 255, 255, 1);
        content: "\002F\00a0";
    }

/*callout*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgba(68, 113, 143, 1);
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-primary {
    border-left-color: rgba(68, 113, 143, 1);
}

    .bs-callout-primary h4 {
        color: rgba(245, 245, 245, 1);
    }

.bs-callout-error {
    border-left-color: #d9534f;
}

    .bs-callout-error h4 {
        color: #d9534f;
    }

/*card*/
.card, .list-group-item {
    background-color: #cfd2da;
    color: #193a53;
}

.input-group-text, .btn-outline-secondary {
    background-color: black;
    border: 1px solid #ced4da;
}